params {
    //============================Required parameters=======================================================================
    mode              = 'test' //Set mode to 'prod' to run on new dataset otherwise brioche will run on the test data
    notifications     =  true //Option to (dis|en)able email notifications, set to false to disable
    emailaddress      = "" //Replace with your e-mail address to receive notifications
    resultsdir        = "" //Path where brioche results are saved, default is the launch-directory/brioche-results
    genomefasta       = "${projectDir}/Data/CDCFrontier_GA_v10_Chrom_3_7.fa" //Replace with absolute path to the fasta file for your assembly
    restrict2chrom   =  "" //Restrict search to this chromosome
    chromstoexclude   = "" //List of chromosomes to exclude separated by a comma - e.g "chr1,chr2,chrun"
    genomename        = 'CDCFrontier_GA_v10' //Name of genome that is used in naming output files
    probename         = 'AVRGRDC_Pulses_v1' //Name of Chip/Marker set used in the naming of the output file
    istarget3primeend = 'TRUE' //Is the target in the probe at the 3' prime end, 'TRUE' or 'FALSE'
    targetdesign      = "${projectDir}/Data/AVRGRDC_Pulses_v1_20006795X370754_A2_Chickpea-target-new-format.tsv" //csv or tsv table with ID,ProbeSequence,Target bp position, Target
    markercharacter   = 'D' //Character used to replace target marker in probe sequence
    buildblastdbonly  = false //Set to true, if all you want to do is build a blast database
    //============================Options for BLAST=======================================================================
    evalue            = 0.01 //The BLAST E-value is the number of expected hits of similar quality (score) that could be found just by chance.
    dust              = 'no' //Filtering option to filter query sequence with DUST (Format: 'yes', 'level window linker', or 'no' to disable)
    otherblastoptions = '' //Other parameters that need to be passed to BLAST, should be of the format "-param1 val1 -param2 val2"
    //================================XT data with target SNP at end of probe===============================================
    minlength         = 40 //minimum length of HSP to be considered fully hybridized
    extendablebps     = 3 //number of matching base pairs from the 3 prime end for a probe to be considered as extendable
    maxgaps           = 0 // New option to implement
    //================================Filtering options====================================================================
    coverage          = 70 //Option to filter any hits with coverage less than the provided percentage
    pident            = 90  //Option to filter any hits with pident less than the provided percentage
    maximumhits       = 10 //Filter probes with hits more than maximumhits - change in logic
    keepduplicates    = 'FALSE' //Whether to retain or filter markers with multiple hits, maximumhits

    //================================slurm options====================================================================
    hpcaccount       =  'default' //account to be used on basc, change this to the account associated with the project etc
    shortqueue       =  'shortrun' //queueing option for jobs with short run time
    longqueue        =  'batch' //queueing option for jobs with long run times
    queuesize        = 1000 //Number of jobs submitted to slurm queue at any given time
}